.AdminPage {

}

.AdminPage .AddEvent-Section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.AdminPage .ManageEvents-Section {
    background-color: #F5F3FA;
    padding-bottom: 64px;
    padding-top: 40px;
}
.AdminPage .header {
    margin-top: 0px;
    width: 1024px; 
    margin: 0 auto;
    font-size: 32px;
}

.AdminPage .AddEvent {
    width: 1024px; 
    margin: 0 auto;
}
.AdminPage .events {
    width: 1024px; 
    margin: 0 auto;
}

.AdminPage .events li {
    padding-left: 0;
    padding-right: 0;
}

.AdminPage .events li .container{
    padding-left: 0;
    padding-right: 0;
}


.AdminPage .AddEvent .group{
    margin-bottom: 16px;
}

.AdminPage .MuiInputLabel-root {
    font-size: 14px;
}
.AdminPage form input, textarea {
    font-size: 16px !important;
}

.AdminPage h2 {
    margin-top: 48px;
}
.AdminPage .MuiCard-root {
    padding: 16px;
    margin-top: 8px;
}