.profile .profile-header {
    display: flex;
    flex-direction: row;
    height: 284px;
}

.profile .profile-stats {
    padding-bottom: 96px;
}

.profile .profile-header .profile-header-container {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.profile .profile-header h2 {
    font-size: 40px;
    color: #A37CF4;
}

.profile .profile-header .profile-info {
    margin-left: 20px;
}
.profile .profile-header p {
    font-size: 24px;
    color: #A37CF4;
}

.profile .profile-header .profile-picture {
    width: 128px;
    height: 128px;
    background-color: #A37CF4;
    border-radius: 100%;
}

.profile .profile-stats {
    background-color: #F5F3FA;
}
.profile .profile-header-container {
    width: 1024px;
    margin: 0 auto;
}

.profile .stat-row {
    width: 1024px;
    margin: 0 auto;
}

.profile .stat-row .StatCard {
    height: 100%;
}

.profile .stat-row .col-md-4:first-child {
    padding-left: 0;
}

.profile .header {
    width: 1024px;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 22px;
    padding-top: 60px;
}

.profile .stat-row .AchivementCard {
    height: 100%;
}


.profile .stat-row .participated-events {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.profile .stat-row .participated-events li{
    margin-bottom: 28px;
}
.profile .stat-row .participated-events li:last-child{
    margin-bottom: 0px;
}


.profile .stat-row .participated-events .opp-card {
    margin-top: 0px;
}



.profile .opp-card {
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #E8DDFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(163, 124, 244, 0.17);
    border-radius: 4px;
    margin-top: 28px;
}
.profile .opp-card-content {
    display: flex;
    flex-direction: row;
    padding: 0px !important;
}
.profile .opp-card-content .info {
    margin-left: 16px;
    color: #120431;
}
.profile .opp-card-content .info h3 {
   margin: 0;
   font-size: 24px;
   margin-bottom: 9px;
   font-weight: 500;
}
.profile .opp-card-content .info p {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
 }
.profile .opp-card-content .date {
    color: #A37CF4;
    text-align: center;
}
.profile .opp-card-content .month {
    font-size: 16px;
}
.profile .opp-card-content .day {
    font-size: 24px;
}