#root { 
  display: 'flex';
}

#formControl {
  margin: spacing(3);
}

#container {
  display: 'flex';
  flex-wrap: 'wrap';
}

#textField {
  margin-left: spacing(1);
  margin-right: spacing(1);
  width: 200,
}
.preference {
	margin-top: 7.5px;
}

.MuiTypography-h6 {
  font-size: 1.5rem !important;
}

.MuiTypography-body1 {
  font-size: 1.5rem !important;
}

.MuiFormLabel-root {
  font-size: 1.5rem !important;
}